h1 {
    color: #FFE9DF;
    background-color: #CC1133;
    font-family: Bodoni MT;
    margin: -10px;
    padding: 10px;
    font-size: 35px;
    letter-spacing: 1px;
  }

  navi {
    background-color: #CC1133;
    align-items: center;
    font-size: 30px;
    font-family: Constantia;
    justify-content: space-between;
    padding: 10px;
    display: flex;

  }

  button {
    background: #CC1133;
    border: none;
    font-size: 20px;
    font-family: Constantia;
    font-weight: 400;
    font-style: normal;
    color: #FFE9DF;
    position: right;
  }

  button:hover {
    color: #cd2d4a;
  }
  
  body {
    background-color: #FFE9DF;
    margin: 0;
  }

  h2 {
    font-size: 28px;
  }

  p {
    text-align: left;

  }

  .Clickhier {
    color: #F3DAD8;
    text-align: right;
  }

  